




<div class="main home"> 
<div class="jumbotron"> 
<div class="container"> 
<div class="name col-xs-4"> 
<h1>Natalie</h1> 
</div> 
<h2>Hello. My name is <span class="highlight">Natalie</span> and I am trying to build a web portfolio using Ruby on Rails.</h2> 
<a class="btn right" href="insert work link here">View my work</a> 

</div> 
</div> 
</div> 

<!--<div class="footer"> 
<div class="container"> 
<ul class="social_media"> 
<li><a class="github" href="https://github.com/"> <img border="0" alt="github" src="http://blog.incipio.com/wp-content/uploads/2015/01/best-resources-for-github.png" width="40">
</a>
</li>

<li><a class="linkedin" href="https://www.linkedin.com/uas/login"> <img border="0" alt="linkedin" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" width="40">
</a>
</li> 

<li><a class="twitter" href="https://twitter.com/"> <img border="0" alt="twitter" src="https://cnet2.cbsistatic.com/img/NcgyXkNieAHP9EEV9wXf_L7Ampo=/270x0/2012/10/02/ba9a281f-fdb4-11e2-8c7c-d4ae52e62bcc/twitter.png" width="40">
</a>
</li> 

</ul> 
<p>&copy; 2016 Natalie</p> 
</div> 
</div> 
</body> 
</html>-->

